<div class="front-loader">
  <div id="alt-leaf">
    <img src="<%= asset_path('leaf.svg') %>"/>
  </div>
  <div class="three-quarters-loader">
    Loading…
  </div>
</div>
<div class="menu">
  <a class="tab index tooltip" href="/index" name="Projects">
    <img src="<%= asset_path('leaf-white.svg') %>">
  </a>
  <a class="tab tooltip" href="#" name="Attributes">
    <img src="<%= asset_path('edit-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/information" name="Information">
    <img src="<%= asset_path('info-white.svg') %>">
  </a>
  <a class="tab logout tooltip" href="/.." name="Log Out">
    <img src="<%= asset_path('logout-black.svg') %>">
  </a>

</div>
<div class="content">
  <a class="card" href="/project">
    <h1> Agua Fria </h1>
  </a>
  <a class="card" href="/project">
    <h1> Best Potato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Worst Tomato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Rangeland Trust </h1>
  </a>
  <a class="card" href="/project">
    <h1> Cat Daddy </h1>
  </a>
  <a class="card" href="/project">
    <h1> Agua Fria </h1>
  </a>
  <a class="card" href="/project">
    <h1> Best Potato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Worst Tomato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Rangeland Trust </h1>
  </a>
  <a class="card" href="/project">
    <h1> Cat Daddy </h1>
  </a>
  <a class="card" href="/project">
    <h1> Agua Fria </h1>
  </a>
  <a class="card" href="/project">
    <h1> Best Potato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Worst Tomato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Rangeland Trust </h1>
  </a>
  <a class="card" href="/project">
    <h1> Cat Daddy </h1>
  </a>
  <a class="card" href="/project">
    <h1> Worst Tomato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Rangeland Trust </h1>
  </a>
  <a class="card" href="/project">
    <h1> Cat Daddy </h1>
  </a>
  <a class="card" href="/project">
    <h1> Agua Fria </h1>
  </a>
  <a class="card" href="/project">
    <h1> Best Potato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Worst Tomato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Rangeland Trust </h1>
  </a>
  <a class="card" href="/project">
    <h1> Cat Daddy </h1>
  </a>
  <a class="card" href="/project">
    <h1> Agua Fria </h1>
  </a>
  <a class="card" href="/project">
    <h1> Best Potato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Worst Tomato </h1>
  </a>
  <a class="card" href="/project">
    <h1> Rangeland Trust </h1>
  </a>
  <a class="card" href="/project">
    <h1> Cat Daddy </h1>
  </a>
  <a class="card" href="#">
    <h1 class="h1-alt"> Show More </h1>
  </a>
</div>
<script>
$(document).ready(function(){
  $(".front-loader").delay(500).fadeOut(500);
});
</script>