<div class="front-loader">
  <div id="alt-leaf">
    <img src="<%= asset_path('leaf.svg') %>"/>
  </div>
  <div class="three-quarters-loader">
    Loading…
  </div>
</div>
<div class="menu">
  <a class="tab index tooltip active" href="/index" name="Projects">
    <img src="<%= asset_path('leaf-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/attributes" name="Attributes">
    <img src="<%= asset_path('edit-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/information" name="Information">
    <img src="<%= asset_path('info-white.svg') %>">
  </a>
  <a class="tab logout tooltip" href="/.." name="Log Out">
    <img src="<%= asset_path('logout-black.svg') %>">
  </a>

</div>
<div class="content">
  <div class="card">
    <h1> New Project </h1>
    <div class="card-content">
      <p>
        <span class="heavy"> Project </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Acres </span>
        <input type="text"> </input>
     </p>
      <p> 
        <span class="heavy"> Date Closed </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Cap Rate </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Admin Rate </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Total Upfront </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Years Upfront </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Earnings Begin </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Start Year </span>
        <input type="text"> </input>
      </p>
      <p class="no-margin"> 
        <span class="heavy"> End Year </span>
        <input type="text"> </input>
      </p>
    </div>
  </div>
</div>
<div class="footer">
  <a class="card" href="/project">
    <h1 class="h1-alt"> Create </h1>
  </a>
  <a class="card" href="/index">
    <h1 class="h1-alt"> Cancel </h1>
  </a>
</div>
<script>
$(document).ready(function(){
  $(".front-loader").delay(500).fadeOut(500);
});
</script>