<div class="front-loader">
  <div id="alt-leaf">
    <img src="<%= asset_path('leaf.svg') %>"/>
  </div>
  <div class="three-quarters-loader">
    Loading…
  </div>
</div>
<div class="menu">
  <a class="tab index tooltip active" href="/index" name="Projects">
    <img src="<%= asset_path('leaf-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/attributes" name="Attributes">
    <img src="<%= asset_path('edit-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/information" name="Information">
    <img src="<%= asset_path('info-white.svg') %>">
  </a>
  <a class="tab logout tooltip" href="/.." name="Log Out">
    <img src="<%= asset_path('logout-black.svg') %>">
  </a>

</div>
<div class="content">
  <h1 class="header"> Agua Fria </h1>
  <div class="card">
    <h1 > Project Details </h1>
    <div class="card-content">
      <p>
        <span class="heavy"> Project </span>
        <span class="light"> Agua Fria </span>
      </p>
      <p> 
        <span class="heavy"> Acres </span>
        <span class="light"> 287 </span>
     </p>
      <p> 
        <span class="heavy"> Date Closed </span>
        <span class="light"> 6/28/11 </span>
      </p>
      <p> 
        <span class="heavy"> Cap Rate </span>
        <span class="light"> 3.0% </span>
      </p>
      <p> 
        <span class="heavy"> Admin Rate </span>
        <span class="light"> 22.0% </span>
      </p>
      <p> 
        <span class="heavy"> Total Upfront </span>
        <span class="light"> $37679 </span>
      </p>
      <p> 
        <span class="heavy"> Years Upfront </span>
        <span class="light"> 5 </span>
      </p>
      <p class="no-margin"> 
        <span class="heavy"> Earnings Begin </span>
        <span class="light"> Q1 11/12 </span>
      </p>
    </div>
  </div>
  <div class="card">
    <h1> Project Data </h1>
    <div class="card-content">
      <table>
        <tr>
          <th class="attributes">Attributes</th>
          <th>2012</th>
          <th>2013</th>
          <th>2014</th>
          <th>2015</th>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'par');">PAR</td>
          <td>$7536</td>
          <td>$7536</td>
          <td>$7536</td>
          <td>$7536</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'professionalservices');">Professional Services</td>
          <td>$0</td>
          <td>$0</td>
          <td>$0</td>
          <td>$2000</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'overhead');">Overhead</td>
          <td>$9043.03</td>
          <td>$8758.72</td>
          <td>$2532.97</td>
          <td>$0</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'temprestrictedbalance');">Temp Restricted Balance</td>
          <td>$9043.03</td>
          <td>$8758.72</td>
          <td>$2532.97</td>
          <td>$0</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'endowmentbalance');">Endowment Balance</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'upfront');">Up Front</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'earnings');">Earnings</td>
          <td>$9043.03</td>
          <td>$8758.72</td>
          <td>$2532.97</td>
          <td>$0</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'fundsavailable');">Funds Available</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'maxoverhead');">Max Overhead</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'inflator');">Inflator</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'expenses');">Expenses</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'totalexpenses');">Total Expenses</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'net');">Net</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'temprestricteddraw');">Temp Restricted Draw</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'maxpossibledraw');">Max Possible Draw</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'admindrawmax');">Admin Draw Max</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'restricteddrawmax');">Restricted Draw Max</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'admindraw');">Admin Draw</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'restricteddraw');">Restricted Draw</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'totaldraw');">Total Draw</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type" onclick="show(this, 'endowmentaddback');">Endowment Add Back</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card helper" id="par">
    <h1> PAR </h1>
    <div class="card-content variables">
      <p class="lil-margin"> <span class="heavy">Formula</span> </p>
      <p class="no-margin"> 'Professional Services' + 'Overhead' </p>
    </div>
  </div>
  <div class="card helper" id="professionalservices">
    <h1> Professional Services </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="overhead">
    <h1> Overhead </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="temprestrictedbalance">
    <h1> Temp Restricted Balance </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="endowmentbalance">
    <h1> Endowment Balance </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="upfront">
    <h1> Up Front </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="earnings">
    <h1> Earnings </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="fundsavailable">
    <h1> Funds Available </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="maxoverhead">
    <h1> Max Overhead </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="inflator">
    <h1> Inflator </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="expenses">
    <h1> Expenses </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="totalexpenses">
    <h1> Total Expenses </h1>
    <div class="card-content variables">
      <p class="lil-margin"> <span class="heavy">Formula</span> </p>
      <p class="no-margin"> 'Expenses' * 'Inflator' </p>
    </div>
  </div>
  <div class="card helper" id="net">
    <h1> Net </h1>
    <div class="card-content variables">
      <p class="lil-margin"> <span class="heavy">Formula</span> </p>
      <p class="no-margin"> 'Funds Available' + 'Max Overhead' + 'Inflator' - 'Expenses' </p>
    </div>
  </div>
  <div class="card helper" id="temprestricteddraw">
    <h1> Temp Restricted Draw </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="maxpossibledraw">
    <h1> Max Possible Draw </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="admindrawmax">
    <h1> Admin Draw Max </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="restricteddrawmax">
    <h1> Restricted Draw Max</h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="admindraw">
    <h1> Admin Draw </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="restricteddraw">
    <h1> Restricted Draw </h1>
    <div class="card-content variables">
      <p class="no-margin"> Manually entered </p>
    </div>
  </div>
  <div class="card helper" id="totaldraw">
    <h1> Total Draw </h1>
    <div class="card-content variables">
      <p class="lil-margin"> <span class="heavy">Formula</span> </p>
      <p class="no-margin"> ('Admin Draw' * 'Restricted Draw' / 'Max Possible Draw' + 'Temp Restricted Draw') / 100 </p>
    </div>
  </div>
  <div class="card helper" id="endowmentaddback">
    <h1> Endowment Add Back </h1>
    <div class="card-content variables">
      <p class="lil-margin"> <span class="heavy">Formula</span> </p>
      <p class="no-margin"> ('Net' + 'Temp Restricted Draw') / 'Max Possible Draw' </p>
    </div>
  </div>
</div>
<div class="footer">
  <a class="card" href="/project-details">
    <h1 class="h1-alt"> Edit Project </h1>
  </a>
  <a class="card" href="/index">
    <h1 class="h1-alt"> Delete Project </h1>
  </a>
  <a class="card" href="/index">
    <h1 class="h1-alt"> Back </h1>
  </a>
</div>
<script>
$(document).ready(function(){
  $(".front-loader").delay(500).fadeOut(500);
});
</script>
<script>
function show(link, elem)
{
  if ($(link).hasClass('highlight')) {
    $('.helper').css('display', 'none');
    $('.highlight').removeClass('highlight');
  } else {
    $('.helper').css('display', 'none');
    $('.highlight').removeClass('highlight');
    $(link).addClass('highlight');
    $('#' + elem).css('display', 'inline-block');
  }
}
</script>
