<div class="front-loader">
  <div id="alt-leaf">
    <img src="<%= asset_path('leaf.svg') %>"/>
  </div>
  <div class="three-quarters-loader">
    Loading…
  </div>
</div>
<div class="menu">
  <a class="tab index tooltip active" href="/index" name="Projects">
    <img src="<%= asset_path('leaf-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/attributes" name="Attributes">
    <img src="<%= asset_path('edit-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/information" name="Information">
    <img src="<%= asset_path('info-white.svg') %>">
  </a>
  <a class="tab logout tooltip" href="/.." name="Log Out">
    <img src="<%= asset_path('logout-black.svg') %>">
  </a>

</div>
<div class="content">
  <div class="card">
    <h1> Edit Agua Fria Data </h1>
    <div class="card-content">
      <table class="form-table">
        <tr>
          <th>Year</th>
          <th>2012</th>
          <th>2013</th>
          <th>2014</th>
          <th>2015</th>
        </tr>
        <tr>
          <td class="type">PAR</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
        </tr>
        <tr>
          <td class="type">Professional Services</td>
          <td contenteditable="true">$0</td>
          <td contenteditable="true">$0</td>
          <td contenteditable="true">$0</td>
          <td contenteditable="true">$2000</td>
        </tr>
        <tr>
          <td class="type">Overhead</td>
          <td contenteditable="true">$9043.03</td>
          <td contenteditable="true">$8758.72</td>
          <td contenteditable="true">$2532.97</td>
          <td contenteditable="true">$0</td>
        </tr>
        <tr>
          <td class="type">Temp Restricted Balance</td>
          <td contenteditable="true">$9043.03</td>
          <td contenteditable="true">$8758.72</td>
          <td contenteditable="true">$2532.97</td>
          <td contenteditable="true">$0</td>
        </tr>
        <tr>
          <td class="type">Endowment Balance</td>
          <td contenteditable="true">$120</td>
          <td contenteditable="true">$500</td>
          <td contenteditable="true">$200</td>
          <td contenteditable="true">$1500</td>
        </tr>
        <tr>
          <td class="type">Up Front</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type">Earnings</td>
          <td contenteditable="true">$9043.03</td>
          <td contenteditable="true">$8758.72</td>
          <td contenteditable="true">$2532.97</td>
          <td contenteditable="true">$0</td>
        </tr>
        <tr>
          <td class="type">Funds Available</td>
          <td contenteditable="true">$120</td>
          <td contenteditable="true">$500</td>
          <td contenteditable="true">$200</td>
          <td contenteditable="true">$1500</td>
        </tr>
        <tr>
          <td class="type">Max Overhead</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type">Inflator</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type">Expenses</td>
          <td contenteditable="true">$120</td>
          <td contenteditable="true">$500</td>
          <td contenteditable="true">$200</td>
          <td contenteditable="true">$1500</td>
        </tr>
        <tr>
          <td class="type">Total Expenses</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
        </tr>
        <tr>
          <td class="type">Net</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
        </tr>
        <tr>
          <td class="type">Temp Restricted Draw</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type">Max Possible Draw</td>
          <td contenteditable="true">$120</td>
          <td contenteditable="true">$500</td>
          <td contenteditable="true">$200</td>
          <td contenteditable="true">$1500</td>
        </tr>
        <tr>
          <td class="type">Admin Draw Max</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type">Restricted Draw Max</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type">Admin Draw</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type">Restricted Draw</td>
          <td contenteditable="true">$1200</td>
          <td contenteditable="true">$5000</td>
          <td contenteditable="true">$2030</td>
          <td contenteditable="true">$15030</td>
        </tr>
        <tr>
          <td class="type highlight">Total Draw</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
        </tr>
        <tr>
          <td class="type">Endowment Add Back</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
          <td class="formula">Formula</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card">
    <h1> Total Draw </h1>
    <div class="card-content variables">
      <p> <span class="heavy">Attributes Required</span> </p>
      <p> Admin Draw, Restricted Draw, Max Possible Draw, Temp Restricted Draw </p>
      <p> <span class="heavy">Formula</span> </p>
      <p class="no-margin"> ('Admin Draw' * 'Restricted Draw' / 'Max Possible Draw' + 'Temp Restricted Draw') / 100 </p>
    </div>
  </div>
  <br>
</div>
<div class="footer">
  <a class="card" href="/project">
    <h1 class="h1-alt"> Save </h1>
  </a>
  <a class="card" href="#">
    <h1 class="h1-alt"> Add Previous Year </h1>
  </a>
  <a class="card" href="/project">
    <h1 class="h1-alt"> Cancel </h1>
  </a>
</div>
<script>
$(document).ready(function(){
  $(".front-loader").delay(500).fadeOut(500);
});
</script>
