<div class="front-loader">
  <div id="alt-leaf">
    <img src="<%= asset_path('leaf.svg') %>"/>
  </div>
  <div class="three-quarters-loader">
    Loading…
  </div>
</div>
<div class="menu">
  <a class="tab index tooltip" href="/index" name="Projects">
    <img src="<%= asset_path('leaf-white.svg') %>">
  </a>
  <a class="tab tooltip" href="#" name="Attributes">
    <img src="<%= asset_path('edit-white.svg') %>">
  </a>
  <a class="tab tooltip" href="/information" name="Information">
    <img src="<%= asset_path('info-white.svg') %>">
  </a>
  <a class="tab logout tooltip" href="/.." name="Log Out">
    <img src="<%= asset_path('logout-black.svg') %>">
  </a>

</div>
<div class="content">
  <div class="card">
    <h1> Project Details </h1>
    <div class="card-content">
      <p>
        <span class="heavy"> Project </span>
        <span class="light"> Agua Fria </span>
      </p>
      <p> 
        <span class="heavy"> Acres </span>
        <span class="light"> 287 </span>
     </p>
      <p> 
        <span class="heavy"> Date Closed </span>
        <span class="light"> 6/28/11 </span>
      </p>
      <p> 
        <span class="heavy"> Cap Rate </span>
        <span class="light"> 3.0% </span>
      </p>
      <p> 
        <span class="heavy"> Admin Rate </span>
        <span class="light"> 22.0% </span>
      </p>
      <p> 
        <span class="heavy"> Total Upfront </span>
        <span class="light"> $37679 </span>
      </p>
      <p> 
        <span class="heavy"> Years Upfront </span>
        <span class="light"> 5 </span>
      </p>
      <p class="no-margin"> 
        <span class="heavy"> Earnings Begin </span>
        <span class="light"> Q1 11/12 </span>
      </p>
    </div>
  </div>
  <div class="card">
    <h1> Project Attributes </h1>
    <div class="card-content">
      <table>
        <tr>
          <th>Year</th>
          <th>2011</th>
          <th>2012</th>
          <th>2013</th>
          <th>2014</th>
        </tr>
        <tr>
          <td class="type">PAR</td>
          <td>$7536</td>
          <td>$7536</td>
          <td>$7536</td>
          <td>$7536</td>
        </tr>
        <tr>
          <td class="type">Professional Services</td>
          <td>$0</td>
          <td>$0</td>
          <td>$0</td>
          <td>$2000</td>
        </tr>
        <tr>
          <td class="type">Overhead</td>
          <td>$9043.03</td>
          <td>$8758.72</td>
          <td>$2532.97</td>
          <td>$0</td>
        </tr>
        <tr>
          <td class="type">Temp Restricted Balance</td>
          <td>$9043.03</td>
          <td>$8758.72</td>
          <td>$2532.97</td>
          <td>$0</td>
        </tr>
        <tr>
          <td class="type">Endowment Balance</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type">Up Front</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Earnings</td>
          <td>$9043.03</td>
          <td>$8758.72</td>
          <td>$2532.97</td>
          <td>$0</td>
        </tr>
        <tr>
          <td class="type">Funds Available</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type">Max Overhead</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Inflator</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Expenses</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type">Total Expenses</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Net</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Temp Restricted Draw</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Max Possible Draw</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type">Admin Draw Max</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Restricted Draw Max</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Admin Draw</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type">Restricted Draw</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
        <tr>
          <td class="type highlight">Total Draw</td>
          <td>$120</td>
          <td>$500</td>
          <td>$200</td>
          <td>$1500</td>
        </tr>
        <tr>
          <td class="type">Endowment Add Back</td>
          <td>$1200</td>
          <td>$5000</td>
          <td>$2030</td>
          <td>$15030</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card">
    <h1> Total Draw </h1>
    <div class="card-content variables">
      <p> <span class="heavy">Attributes Required</span> </p>
      <p class="no-margin"> Admin Draw, Restricted Draw, Max Possible Draw, Temp Restricted Draw </p>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $(".front-loader").delay(500).fadeOut(500);
});
</script>