<div class="content">
  <h1 class="header"> Projects </h1>
  <div class="search-wrapper">
    <div class="container-1">
      <input type="search" id="search" placeholder="Search..." autocomplete="off"/>
      <span class="icon"><i class="fa fa-search"></i></span>
    </div>
  </div>
  <div class="grid">
    <% if @projects.size == 0 %>
      <p>No projects exist.</p>
    <% else %>
      <% @projects.each do |project| %>
        <%= link_to project, class: "card" do %>
          <h1> <%= project.name %> </h1>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="footer">
  <%= link_to new_project_path, class: "card" do %>
    <h1 class="h1-alt"> New Project </h1>
  <% end %>
  <%= link_to projects_path(format: "csv"), class: "card" do %>
    <h1 class="h1-alt"> Export to CSV </h1>
  <% end %>
  <table class="card">
    <%= form_tag import_projects_path, multipart: true do %>
      <%= file_field_tag :file, accept: "application/vnd.ms-excel,
                                         application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %>
      <%= submit_tag "Import Project" %>
    <% end %>
  </table>
</div>
