<div class="content">
  <h1 class="header"> <%= @project.name %> </h1>
  <div class="card">
    <h1> Project Details </h1>
    <div class="card-content card-content-alt">
      <% @project.attributes.keys.each do |attribute| %>
        <% if attribute != 'id' and attribute != 'created_at' and attribute != 'updated_at' and attribute != 'master' %>
          <p>
            <span class="heavy"> <%= attribute.humanize %> </span>
            <span class="light">
            <% value = @project.attributes[attribute] %>
            <% if attribute == "restricted_endowment" or attribute == "total_upfront" %>
              <%= number_to_currency(value, unit: "$", precision: 2)  %>
            <% elsif attribute == "cap_rate" or attribute == "admin_rate" %>
              <%= number_to_percentage(value) %>
            <% else %>
              <%= value %>
            <% end %>
            </span>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card">
    <h1> Project Data </h1>
    <div class="card-content">
      <table class="hotkeys">
        <tr>
          <th class="attributes">Data Types</th>
          <% @project.project_years.each do |year| %>
            <th><%= year.date %></th>
          <% end %>
        </tr>
        <% @data_types.each do |data_type| %>
          <tr>
           <% name = data_type.name.split(' ').join('-') %>
            <td class="type" onclick="show(this, '<%= name %>');"><%= data_type.name %></td>
            <% data_type.data_values.sort_by_year.each do |data_value| %>
              <% if @project.project_years.find_by_id(data_value.project_year.id) %>
                <td class="data-value" data-id=<%= data_value.id %> contentEditable="true" data-input-formula="<%= data_value.input_formula %>" onclick="showFormula(this, '<%= name %>');">
                <% if data_value.value %>
                  <%= data_value.value %></td>
                <% else %>
                  <%= data_value.formula_value %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="card">
    <h1> Project Notes </h1>
    <div class="card-content card-content-alt">
      <p><%= simple_format(@project.notes) %></p>
    </div>
  </div>

  <% @data_types.each do |data_type| %>
    <div class="card helper" id="<%= data_type.name.split(' ').join('-') %>">
      <h1> <%= data_type.name %> </h1>
      <div class="card-content variables">
        <% if data_type.formula %>
          <p class="lil-margin"> <span class="heavy">Formula</span> </p>
          <p class="no-margin"> <%= data_type.formula %> </p>
        <% else %>
          <p class="no-margin"> Manually entered </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
  <%= link_to edit_project_path, class: "card" do %>
    <h1 class="h1-alt"> Edit Project </h1>
  <% end %>
  <%= link_to project_path(@project),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "card" do %>
    <h1 class="h1-alt"> Delete Project </h1>
  <% end %>
  <%= link_to new_project_project_year_path(@project), class: "card" do %>
    <h1 class="h1-alt"> Add Year </h1>
  <% end %>
  <%= link_to projects_path, class: "card" do %>
    <h1 class="h1-alt"> Back </h1>
  <% end %>
  <%= link_to project_path(@project, format: "csv"), class: "card" do %>
    <h1 class="h1-alt"> Export to CSV </h1>
  <% end %>
</div>
<script>
function show(link, elem) {
  if ($(link).hasClass('highlight')) {
    $('.helper').css('display', 'none');
    $('.highlight').removeClass('highlight');
  } else {
    $('.helper').css('display', 'none');
    $('.highlight').removeClass('highlight');
    $(link).addClass('highlight');
    $('#' + elem).css('display', 'inline-block');
  }
}

function showFormula(link, elem) {
  if ($(link).hasClass('highlight')) {
    $('.helper').css('display', 'none');
    $('.highlight').removeClass('highlight');
  } else {
    $('.helper').css('display', 'none');
    $('.highlight').removeClass('highlight');
    $('#' + elem).css('display', 'inline-block');
  }
}

var currCell = $('td').first();
var editing = false;
update();

function edit() {
  if (currCell.attr('contentEditable') == 'true') {
    editing = true; 
    currCell.focus();
  }
}

function exit() {
  if (editing) {
    editing = false;
    var trimmedContent = currCell.text().trim();
    currCell.text(trimmedContent);
    currCell.blur();
    window.getSelection().removeAllRanges();
  }
}

function update() {
  // update css
  $('td').css('border-color', 'rgba(0, 0, 0, 0)');
  $('td').css('border-right', '1px solid lightgrey');
  $('td').css('border-bottom', '1px solid lightgrey');
  currCell.css('border', '3px solid #1CABCC');
}

// define Excel hotkeys for spreadsheet
$('body').keydown(function(e) {
  if (!editing && $('.hotkeys')[0]) {
    if (e.which == 39) {
      // right arrow
      potentialCell = currCell.next();
    } else if (e.which == 37) {
      // left arrow
      potentialCell = currCell.prev();
    } else if (e.which == 38) {
      // up arrow
      potentialCell = currCell.closest('tr').prev().find('td:eq(' +
        currCell.index() + ')');
    } else if (e.which == 40) {
      // down arrow
      potentialCell = currCell.closest('tr').next().find('td:eq(' +
        currCell.index() + ')');
    } else if (e.which == 13 || e.which == 32) {
      // enter or spacebar - edit cell
      e.preventDefault();
      e.stopPropagation();
      edit();
    }
    if (potentialCell.length != 0) {
      currCell = potentialCell;
    }
    update();
  }
});

$('td').focus(function() {
  // click into a cell
  currCell = $(this);
  update();
}).blur(function() {
  // click out of a cell
  exit();
}).keydown(function(e) {
  // escape - exit edit cell
  if (editing) {
    if (e.which == 13 || e.which == 27) {
      e.stopPropagation();
      exit();
    }
  }
});
</script>
