<h1><%= @project.name %></h1>

<h2>Project Details</h2>

<% for attribute in @project.attributes.keys %>
  <% if attribute != 'id' and attribute != 'created_at' and attribute != 'updated_at' %>
    <strong><%= attribute.humanize %>:</strong>
    <%= @project.attributes[attribute] %>
    <br>
  <% end %>
<% end %>

<div><%= link_to 'Back', projects_path %></div>
<div><%= link_to 'Edit project', edit_project_path %></div>
<div><%= link_to 'Delete Project', project_path(@project),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></div>
