<h1><%= @project.name %></h1>

<h2>Project Details</h2>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Acres:</strong>
  <%= @project.acres %>
</p>

<p>
  <strong>Date Closed:</strong>
  <%= @project.date_closed %>
</p>

<p>
  <strong>Restricted Endowment:</strong>
  <%= @project.restricted_endowment %>
</p>

<p>
  <strong>Cap Rate:</strong>
  <%= @project.cap_rate %>
</p>

<p>
  <strong>Admin Rate:</strong>
  <%= @project.admin_rate %>
</p>

<p>
  <strong>Total Upfront:</strong>
  <%= @project.total_upfront %>
</p>

<p>
  <strong>Years Upfront:</strong>
  <%= @project.years_upfront %>
</p>

<p>
  <strong>Earnings Begin:</strong>
  <%= @project.earnings_begin %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
